      @font-face {
	font-family: tahoma;
	src: url(tahoma.ttf);
      }

      body {
        font-size:14px;
        color:black;
        font-family:tahoma;
      }
       
      .parentcontainer {
        width:1000px;
      }
      * {
        box-sizing:border-box;
        padding:0;
        margin:0;
      }
      
      .topbottom {
	position: relative;
	border-width:0px 0px 2px 0px;
	border-style:solid;
        border-color:white white #0ab1ff white;
        height:125px;
        padding:20px;
        text-align:center;
      }
      
      .header{
	background-color:#b2e7ff;
      }
      .topbottom p{
	font-size:24px;
	transform: translate(-50%,-50%);
	position:absolute;
        top:50%;  
	left:50%;
        font-weight:normal;
      }
      
      .foter{
	background-color:#3cff78;
      }

      .column {
        display: table-cell;
        padding: 15px;
      }

      .side {
        width:25%;
        background-color:#0ab1ff;
        padding:25px 0px;
      }

      .main {
        width:75%;
        background-color:#ededed;
        padding:20px 0px;
      }
      
      .fixed250 {
        width:250px;
        font-size:18px;
      }
      
      .fixed750 {
        width:750px;
        font-size:28px;
      }
      
      .maincontent{
        color:#802525;
      }
      
      .sidecontent{
        font-size:12px;
      }
      
      li{
        padding:5px;
        color:white;
      }
      ul li::before {
        content: "\2022";
        color: white;
        font-weight: bold;
        display: inline-block;
        width: 1em;
        margin-left: 1%;
      }
      ul{
        list-style:none;
      }
